notebooks/02_baseline_model/mlruns/
notebooks/experimentation/backend.db
spam-detector.code-workspace
research/03_text_augmentation/models/
data/bronze
data/copper
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.csv
*.zip
*.tar.gz

.DS_Store
.idea/
.vscode/data/bronze/raw_dataset.csv
data/copper/combined_data.csv
